<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <h1>Products App</h1>
    <div class="menu">
        @Html.ActionLink("List Products", "Index", "Products")
        @Html.ActionLink("Add Product", "Create", "Products")
        @*<a href="">List Products</a>
            <a href="">Add Product</a> *@
    </div>
    <div>
        @RenderBody()
    </div>

    @RenderSection("StylesAndScripts", required: false)
</body>
</html>
